# name: 'Terraform'
# on:
#   push:
#     branches:
#     - master
#   pull_request:
#     branches:
#     - master
# jobs:
#   terraform:
#     name: 'Terraform'
#     runs-on: ubuntu-latest
#     defaults:
#       run:
#         shell: bash
#     steps:
#     - name: Checkout
#       uses: actions/checkout@v2
#     - name: Setup Terraform
#       uses: hashicorp/setup-terraform@v1
#       with:
#         terraform_version: 0.12.28
#         cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
#     - name: Terraform Init
#       env:
#         AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY }}'
#         AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_KEY }}'
#         AWS_DEFAULT_REGION: "us-east-1"
#       run: terraform init
#     - name: Terraform Format
#       env:
#         AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY }}'
#         AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_KEY }}'
#         AWS_DEFAULT_REGION: "us-east-1"
#       run: |
#         echo "access_key = \"${{ secrets.AWS_ACCESS_KEY }}\"" > secrets.tfvars
#         echo "secret_key = \"${{ secrets.AWS_SECRET_KEY }}\"" >> secrets.tfvars
#         terraform validate
#     - name: Terraform Plan
#       env:
#         AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY }}'
#         AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_KEY }}'
#         AWS_DEFAULT_REGION: "us-east-1"
#       run: terraform plan -var-file=./secrets.tfvars
#     - name: Terraform Apply
#       if: github.ref == 'refs/heads/master' && github.event_name == 'push'
#       env:
#         AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY }}'
#         AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_KEY }}'
#         AWS_DEFAULT_REGION: "us-east-1"
#       run: terraform apply -auto-approve -var-file=./secrets.tfvars
